.bar {
    width: 100%;
    height: 30px;
    background-color: purple;
}
.box {
    display:flex;
}
.icon {
    display: flex;
    justify-content: space-between;
    margin-left: 900px;

}
.welco {
    width: 100%;
    height: 800px;
    background-color: grey;
    display: flex;


}
h1  {
    color: purple;
    align-items: center;
    font-weight: 300;
    margin: auto;
}
.user {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px ;
    margin-top: 15px;
    right: 400px;

}
.container {
    display: flex;
    justify-content: center;
}
.purple {
    text-align: center;
    background-color: white;

}
.green {
    text-align: center;
    background-color: white;
}
.blue {
    text-align: center;
    background-color: white;
}
.font {
    padding: 10px;
}
.middle {
    padding: 10px;
}
.back {
    padding: 10px;
}
.details {
    text-align: center;
}
.today {
    text-align: center;
}
.mandatory{
    padding: 10px;
}
.choice{
    padding: 10px;
}
.voluntary{
    padding: 10px;
}
.week {
    text-align: center;
}
.more {
    text-align: center;
    margin-top: 20px;
}
.welcome {
    display: flex;
    justify-content: center;
}
.john {
    color: purple;
    font-size: 40px;
    margin-left: 400px;
}
.dashboard {
    color: purple;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 400px;
}
.grey {
    background-color: lightgray;
}